/* Importing JetBrains Mono Fonts */
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 100;
    font-style: italic;
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
}

/* CSS Classes */
.jetbrains-regular {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: normal;
}

.jetbrains-italic {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: italic;
}

.jetbrains-bold {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: normal;
}

.jetbrains-bold-italic {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: italic;
}

.jetbrains-extra-bold {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: normal;
}

.jetbrains-extra-bold-italic {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: italic;
}

.jetbrains-extra-light {
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-style: normal;
}

.jetbrains-extra-light-italic {
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-style: italic;
}

.jetbrains-light {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-style: normal;
}

.jetbrains-light-italic {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-style: italic;
}

.jetbrains-medium {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: normal;
}

.jetbrains-medium-italic {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: italic;
}

.jetbrains-semi-bold {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-style: normal;
}

.jetbrains-semi-bold-italic {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-style: italic;
}

.jetbrains-thin {
    font-family: 'JetBrains Mono';
    font-weight: 100;
    font-style: normal;
}

.jetbrains-thin-italic {
    font-family: 'JetBrains Mono';
    font-weight: 100;
    font-style: italic;
}

/* Importing Ubuntu Fonts */
@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

/* CSS Classes */
.ubuntu-bold {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: normal;
}

.ubuntu-bold-italic {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: italic;
}

.ubuntu-italic {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: italic;
}

.ubuntu-light {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: italic;
}

.ubuntu-medium {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
}

.ubuntu-medium-italic {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: italic;
}

.ubuntu-regular {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: normal;
}
