@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    height: 100dvh;
    background: linear-gradient(
        207.29deg, 
        rgba(0, 0, 0, 0) 8.46%,
        rgba(159, 0, 0, 0.184) 56.22%,
        rgba(0, 0, 0, 0) 90.6%
    ), #0C0C0C;
}